.all {
    width: 350px;
    
}


.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 280px;
    border-right: 0.1px solid white;
    height: 100%;
}

.nav_logo {
    width: 120px;
    margin: 25px;
}

.nav_buttons {
    display: flex;
    flex-direction: column;
}

.side_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background: 0;
    border: 0;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    /* width: 90%; */
}

.side_button:hover {
    cursor: pointer;
    background-color: rgba( 255, 255, 255, 0.128);
}

.side_button > span {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
}
a{
    color: white;
    text-decoration: none;
}

.side_more {
    position: fixed;
     bottom: 3px;
}